#navigation {height: 10rem;}
#navigation button {font-size:.8rem;}
nav ul, #social-media{flex-direction: column;}
#content-left, #content-center, #content-right {gap: 1rem;}
.gallery .image-container .image {width: 7rem;height: 7rem;}
.footer-box h2 {font-size: 1.5rem;}
.footer-box a:link, .footer-box a:visited {font-size: 1rem;}