* {
    --footer-height: 55vh;
    margin: 0;
    --color1: #0d3b66;
    --color2: #faf0ca;
    --color3: #f4d35e;
    --color4: #ee964b;
    --color5: #f95738;
    color: var(--color1);
}
:root {
    font-size: 16px;
}
#page-container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: var(--color2);
}
#content-wrap {
    width: 100%;
    padding-bottom: var(--footer-height);
}

    /* Header */

#navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    color: var(--color1);
    height: 6vw;
    box-shadow: 10px 10px var(--color4);
    margin: 0 0.5rem 0.5rem 0.5rem;
}
nav {
    flex-grow: 5;
}
#social-media {
    flex-grow: 1;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin: auto;
    padding: 0;
}
li {
    margin: auto;
}
#navigation button, #navigation button:visited {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 2rem;
    background-color: var(--color2);
    border: none;
    box-shadow: 10px 10px var(--color4);
    transition-duration: 0.2s;
    color: var(--color1);
}
#navigation button:hover {
    background-color: var(--color4);
    color: var(--color2);
    box-shadow: 10px 10px #e97816;
}
#navigation button:active {
    color: var(--color1);
    background-color: var(--color5);
    box-shadow: 5px 5px #e97816;
    transform: translate(5px, 5px);
}
header h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: auto;
}

    /* Main */

        /* Homepage */

#homeimage {
    display: block;
    width: 75vw;
    margin: auto ;
}
#social-media img, #social-media a {
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
}
#social-media {
    display: flex;
    justify-content: center;
    align-content: center;
}
#welcome {
    width: 100%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
#welcome h2 {
    font-size: 2rem;
    text-align: center;
    margin: auto;
}
hr {
    border: 1px solid var(--color4);
    width: 50vw;
    margin: 2rem auto;
}
#logo img {
    width: auto;
    max-height: 5.5vw;
}
#logo {
    padding: 0 0 0 0.5rem;
}
p.quote {
    max-width: 70%;
    text-align: center;
    font-size: 2rem;
    margin: 2rem auto;
}
#box-container {
    margin: 5vh 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#box-container button, #box-container button:visited {
    display: block;
    align-self: center;
    max-width: 41%;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: var(--color2);
    border: none;
    box-shadow: 10px 10px var(--color4);
    transition-duration: 0.2s;
}
#box-container button:hover {
    color: var(--color2);
    background-color: var(--color4);
    box-shadow: 10px 10px #e97816;
}
#box-container button:active {
    color: var(--color1);
    background-color: var(--color5);
    box-shadow: 5px 5px #e97816;
    transform: translate(5px, 5px);
}
#content-left, #content-center, #content-right {
    min-width: 25vw;
    min-height: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--color3);
    box-shadow: 10px 10px var(--color4);
}

        /* Gallery */

.gallery {
    position: relative;
    min-height: 100vh;
}
.gallery .image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 0.7rem;
}
.gallery .image-container .image {
    width: 15rem;
    height: 15rem;
    border: 0.5rem solid var(--color3);
    box-shadow : 0 5px 15px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}
.gallery .image-container .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s linear;
}
.gallery .image-container .image:hover img {
    transform: scale(1.1);
}
.gallery .popup-image {
    position: fixed;
    top:0; left:0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 1;
}
.gallery .popup-image span {
    position: absolute;
    top:0; right:10px;
    font-size: 4rem;
    font-weight: bolder;
    color: var(--color4);
    cursor: pointer;
    z-index: 1;
}
.gallery .popup-image img {
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--color3);
    border-radius: 5px;
    height: 80vh;
    object-fit: cover;
}

.gallery h2, .gallery h3 {
    width: 100%;
}
.gallery h2, .gallery h3 {
    text-align: center;
    font-size: 3rem;
}
.gallery h3 {
    grid-column-start: span 3;
    font-size: 2rem;
}


    /* Footer */

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    grid-template:
        '. . . . .'
        '. boxone . boxtwo .'
        '. boxone . boxtwo .';
    height: var(--footer-height);
    background-color: var(--color1);
}
#boxone {
    grid-area: boxone;
}    
#boxtwo {
    grid-area: boxtwo;
}
.footer-box {
    padding:1rem;
}
.footer-box h2, .footer-box a {
    color: var(--color2);
}
.footer-box h2 {font-size: 2.4rem;}
.footer-box a:link, .footer-box a:visited {font-size: 1.8rem; text-decoration: none;}
.footer-box a:hover {color: var(--color3);}
.footer-box a:active {color: var(--color5);}