* {
    --footer-height: 100vh;
    --background: #cbcbcb;
    --test: #000000;
    margin: 0;
    --color1: #0d3b66;
    --color2: #faf0ca;
    --color3: #f4d35e;
    --color4: #ee964b;
    --color5: #f95738;
    color: var(--color1);
}
:root {
    font-size: calc(100vw / 70);
}
#page-container {
    position: relative;
    min-height: 100vh;
    background-color: var(--color2)
}
#content-wrap {
    padding: 1rem;
    padding-bottom: var(--footer-height);
}

    /* Header */

#navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--color3);
    color: var(--color1);
    height: 6vw;
    box-shadow: 10px 10px var(--color4);
}
nav {
    flex-grow: 5;
}
#social-media {
    flex-grow: 1;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin: auto;
    padding: 0;
}
li {
    margin: auto;
}
.nav a, .nav a:visited, .nav a:hover, .nav a:active {
    font-size: 1.5rem;
    display: block;
    text-decoration: none;
    color: var(--nav-color);
}
header h1 {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}

    /* Main */

        /* Homepage */

#homeimage {
    display: block;
    width: 90vw;
    margin: auto ;
}
#social-media img, #social-media a {
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
}
#social-media {
    display: flex;
    justify-content: center;
    align-content: center;
}
#welcome {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
#logo img {
    width: 25vw;
}
#logo {
    margin: auto;
}
#box-container {
    margin: 5vh 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#box-container button, #box-container button:visited {
    display: block;
    align-self: center;
    max-width: 41%;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #cbcbcb77;
    border: 2px solid white;
    transition-duration: 0.2s;
}
#box-container button:hover {
    background-color: #5f5f5f77;
    color: white;
}
#box-container button:active {
    background-color: #cbcbcb77;
    color: black;
}
#content-left, #content-center, #content-right {
    width: 25vw;
    height: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content-center {
    background-image: url(../images/Ink.svg);
    object-fit: cover;
    background-size: cover;
}

        /* Gallery */

#gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding: 1rem 0.3rem;
}
#gallery h2, #gallery h3 #gallery img {
    width: 100%;
}
#gallery h2 {
    text-align: center;
}
#gallery h3 {
    padding: 0 0 0 20px;
}
#gallery .vertical {
    max-width: 30vw;
    max-height: 40vw;
    object-fit: cover;
}
#gallery .horizontal {
    max-width: 40vw;
    max-height: 50vw;
    object-fit: cover;
}

    /* Footer */

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(../images/Forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-box {
    align-self: flex-end;
    color:white;
    margin: 0 auto;
}