* {
    box-sizing: border-box;
    --footer-height: 100vh;
    --background: #cbcbcb;
    --test: #000000;
}
:root {
    font-size: calc(100vw / 70);
}
#navigation {
    display: flex;
    flex-direction: row;
    background-color: var(--background);
    height: 6vw;
}
nav {
    flex-grow: 5;
}
#social-media {
    flex-grow: 1;
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    margin: auto;
    padding: 0;
}
li {
    margin: auto;
}
li a {
    display: block;
    text-decoration: none;
}
header h1 {
    font-size: 3rem;
    text-align: center;
    margin: auto;
}
main img {
    display: block;
    width: 90vw;
    margin: auto ;
}
#social-media img {
    width: 2.5vw;
    height: 2.5vw;
    margin: auto;
}
#social-media {
    display: flex;
    justify-content: center;
    align-content: center;
}
#page-container {
    position: relative;
    min-height: 100vh;
}
#content-wrap {
    padding-bottom: var(--footer-height);
}
#welcome {
    width: 100vw;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-content: center;
}
#logo img {
    width: 25vw;
}
#logo {
    margin: auto;
}
#box-container {
    margin: 5vh 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}
#box-container button, #box-container button:visited {
    display: block;
    align-self: center;
    max-width: 41%;
    padding: 0.5rem 2rem;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: #cbcbcb77;
    border: 2px solid white;
    transition-duration: 0.2s;
}
#box-container button:hover {
    background-color: #5f5f5f77;
    color: white;
}
#box-container button:active {
    background-color: #cbcbcb77;
    color: black;
}
#content-left, #content-center, #content-right {
    width: 25vw;
    height: 25vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#content-center {
    background-image: url(Ink.svg);
    object-fit: cover;
    background-size: cover;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--footer-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(Forest.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.footer-box {
    align-self: flex-end;
    color:white;
    margin: 0 auto;
}
@media only screen and (max-width:576px) {
    #content-left, #content-center, #content-right {
        width: 50vw;
        height: 50vw;
    }
    #content-wrap {
        padding-bottom: 50vh;
    }
    #footer {
        height: 50vh;
    }
}